.displayDiv {
  width: 100%;
  overflow: auto;
  padding: 10px;
  scrollbar-width: none;
}
.search {
  width: 450px;
  height: 30px;
  border: 2px solid #ddd;
  margin-top: 10px;
  outline: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 13px;
  position: sticky;
  top: -10px;
}

@media only screen and (max-width: 972px) {
  .displayDiv {
    min-height: calc(100% - 270px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search {
    width: 90%;
    position: sticky;
  }
}
